.main-container{
    margin-left: 15%;
    margin-right: 15%;
    line-height:1.9;
}

.about-me{
    margin-top: 13%;
    font-size:40px;
    color: #999999;
}

.picture-text-row{
    display: flex;
    flex-direction: row;
    font-weight:500;
    margin-bottom: 5%;
}

.bio{
    margin-top:1%;
    margin-left: 3%;
}

.bio-1{
    margin-bottom: 7%;
}

.detail-column{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.detail-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left:16%;
}

.bold-title{
    font-weight: bold;
    font-size:20px;
}

.subtext{
    color: #999999;
    margin-top: 1%;
}

.my-picture{
    width: 10vw;
    height:20vh;
}

.detail-picture{
    width:10vw;
    height:10vh;
}

.horizontal-line-short {
    border-top: 1px solid #999999;
    width: 50%; /* Adjust width as needed */
    margin: 20px auto; /* Adjust margin as needed */
}

.my-picture{
    margin-top: 5%;
    width:30vw;
    height:55vh;
}

.magnifying-image {
    width:7vw;
    height: 8vh;
    margin-right:3%;
}

.specific-column{
    margin-left:5%;
}

.bulb-image{
    width:10vw;
    height:15vh;
    
}

.citations{
    color:#FFFFFC;
}
