.main-container{
    margin-left: 17%;
    margin-right: 17%;
    line-height:1.3;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 12%;
}

.overview{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 19px;
    margin-top: 5%;
    line-height:1.7;
    /* margin-left:20%;
    margin-right:20%; */
    font-weight:500;
    color: #7B7B7B;
    margin-left:12%;
    margin-right:12%;
}

.row-intro{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    background-color: #ededed;
    width: 100%; 
    height: 40vh;
    border-radius: 9px;
}

.role{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-left: 4%;
    margin-top: 3%;
    line-height:2;
    /* margin-right:31% */
}

.inside-warp-image{
    border-radius: 8px;
    height:90%;
    display: flex;
    justify-content: center;
}

#story-image{
    margin-left: auto;
    margin-right:3%
}

.role-bold{
    font-weight: bold;
}

/* .title-img{
    background-color: wheat;
    width: 70%;
    height: 350px;
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 17%;

} */

.role-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1%;
}

.reimagined-terminal, .our-task, .onboarding-research, .beginning-design, .og-low-fi,.first-critique, .reworking, .takeaways {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
}

.og-low-fi{
    margin-top:10%;
}

.sub-title{
    font-weight: bold;
    font-size: 26px;
    color: rgba(0, 0, 0, 0.748);
}

.sub-text{
    margin-top: 1%;
    font-size: 18px;
    line-height:1.6;
    color: #7B7B7B;
}

.right-column, #reworking-text{
    display: flex;
    flex-direction: column;
    text-align: end;
    /* margin-left: 29%; */
}

.our-task-picture-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 7%;
}

.blocklist-col{
    display: flex;
    flex-direction: column;
}

.blocklist-text{
    font-size:14px;
    color:rgba(0, 0, 0, 0.748);
    margin-bottom: 1%;

}

.survey-image{
    display: flex;
    width: 25vw;
    height:30vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.blocklist-gif{
    width: 30vw;
    height: 30vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.our-task-column{
    display: flex;
    flex-direction: column;
}

.confused-image{
    width:200px;
    height:200px;
}

.onboarding-research-column{
    display: flex;
    flex-direction: column;
}

.onboarding-image{
    width:30vw;
    height:30vh;
}

.onboarding-research-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#research-text{
    margin-right: 10%;
}

.low-fi{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #E6E6E6;
    width: 100%;
    height: 180vh;
    border-radius: 9px;
}

.low-fi-text, .hi-fi-text , .features-text{
    font-size: 26px;
    color:rgba(0, 0, 0, 0.748);
    margin-right: auto;
    margin-left:5%;
    margin-top: 2%;
}

.hi-fi-text, .features-text{
    margin-top: 2%;
    margin-bottom:2%;
}

.first-critique-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
}

.thumb-image{
    width:30vw;
    height:30vh;
    margin-left: 18%;
}

.style-guide{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    background-color: #E6E6E6;
    width: 100%; /* Adjusted width calculation */
    height: 100vh;
    align-items: center;
    justify-content: center;
    /* border-top-left-radius: 9px; 
    border-top-right-radius: 9px; */
    border-radius: 9px;
}

.style-guide-text{
    font-size: 26px;
    color:rgba(0, 0, 0, 0.748);
    /* margin-right: auto; */
    text-align: center;
    margin-left:5%;
    margin-bottom: 1%;
    margin-top:3%;
}

.hi-fi{
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    width: 100%; /* Adjusted width calculation */
    height: 250vh;
    border-radius: 9px;
    /* border-top-left-radius: 9px; 
    border-top-right-radius: 9px; */
    flex-direction: column;
}

/* .features{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ededed;
    width: 100%; 
    height: 80vh;
    border-bottom-left-radius: 9px; 
    border-bottom-right-radius: 9px;
} */

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 3%; 
}

a{
    color: #4E4E4E
}

.sketch-column-1{
    display:flex;
    flex-direction: row;
    margin: 3%;
    margin-top:0;
}

.sketch-column-2{
    display:flex;
    flex-direction: row;
    margin-left: 3%;
    margin-right: 3%;
}

.sketch-1-image, .sketch-2-image ,.sketch-3-image ,.sketch-4-image  {
    width: 40vw; /* Adjust size as needed */
    height: 40vh;
    margin-bottom: 3%; /* Add margin between images */
    border-radius: 2%;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    margin-left:4%;
}

/* .sketch-2-image , .sketch-4-image {
    width: 40vw;
    height:40vh; 
    margin-left: auto;
    border-radius: 2%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

 .sketch-3-image{
    width: 40vw; 
    height: 50vh;
    margin-bottom: 3%; 
    border-radius: 2%;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
} */

.sketches{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    background-color: #E6E6E6;
    width: 100%; /* Adjusted width calculation */
    height: 105vh;
    border-radius: 9px;
}

.sketches-text{
    font-size: 26px;
    color:rgba(0, 0, 0, 0.748);
    /* margin-left: auto; */
    margin-left:4%;
    margin-top:3%
}

.sketch-1-image{
margin-top: 2%;
} 

/* .sketch-2-image, .sketch-3-image, .sketch-4-image{
margin-top: 1%;
height:70vh;
} */

.oglowfi-1-image, .oglowfi-2-image, .oglowfi-3-image, .oglowfi-4-image{
    width:80vw;
    margin-left: 7%;
    /* height: 40vh; */
}

.oglowfi-4-image{
    margin-bottom:3%;
}

.style-guide-image{
    display: flex;
    align-items: center;
    text-align: center;
    height:70vh;
    width:70vw;
}

.features {
    border-bottom-left-radius: 9px; 
    border-bottom-right-radius: 9px;
    height: 180vh;
    width: 100%;
    background-color: #ededed;
    margin-left: auto;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    flex-direction: column;
    margin-top: 1%;
}

.hi-fi-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.market-survey-gif, .warp-drive-gif, .warp-ai-gif {
    width: 40vw;
    height:50vh;
    margin-bottom: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.citations{
    color:#FFFFFC;
}

#reimagine-text, #takeaway-text {
    margin-right: 24%;
}

#lo-text{
    margin-right: 24%;
    margin-bottom: 4%;
}

#task-text, #design-text, #reworking-text{
    margin-left: 26%
}

.bold{
    font-weight: bold;
}

.gif-text{
    margin-bottom: 1%;
    font-size:14px;
    color:rgba(0, 0, 0, 0.748);
}

.figma-link{
    color: rgba(0, 0, 0, 0.748);
}

.figma-link:hover{
    color: rgb(0, 17, 255)
}

.lo-fi-row{
    display: flex;
    flex-direction: row;
    margin-left:7%;
    margin-right:7%;
}

.lo-fi-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom:4%;
    margin-top: 2%;
}

.low-fi-design{
    width:26vw;
    height: 32vh;
}

.first-critique-column{
    display: flex;
    flex-direction: column;
}

.bold-text{
    font-weight: bold;
    display: inline;
}